.md-datepicker-input {
  text-align: right !important;
}

.uploaderBox {
  .dropzone {
    min-height: 100px;
    padding: 10px;
    margin: 20px auto 0;
    height: 130PX;
    width: 130px;
    .dz-preview {
      width: 100%;
    }
  }
}

.ds-datepicker {
  width: 100%;
  .md-button.md-icon-button {
    position: absolute;
  }

  .md-ink-ripple {
    top: -3px;
    right: -12px;
  }

  .md-icon-button + .md-datepicker-input-container {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  .md-input {
    padding: 0 35px !important;
    border-bottom: none;
  }
}

.ds-disabled-content {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

