<md-autocomplete
        ng-disabled="localDisabled"
        md-delay="500"
        md-clear-button="true"
        md-input-name="autocompleteField"
        md-input-class="ds-combo-input"
        md-items="$item in searchQuery(searchText)"
        md-no-cache="false"
        md-selected-item="selectedItem"
        md-selected-item-change="selectedItemChanged($item)"
        md-search-text="searchText"
        md-min-length="0"
        placeholder="{{'Select ...'|translate}}"
        md-floating-label="{{label}}"
        md-autoselect
        md-require-match="true"
        input-aria-describedby="favoriteStateDescription">

    <md-item-template>
        <span md-highlight-text="searchText" md-highlight-flags="^i">{{$item.title}}</span>
    </md-item-template>

    <div id="msg" ng-messages="form.autocompleteField.$error" ng-if="form.autocompleteField.$dirty">
        <div ng-message="required">{{'this_field_is_required' | translate}}</div>
    </div>

    <md-not-found>
        <span ng-show="searchText.length > 0"> <b>"{{searchText}}"</b> {{'Not found'|translate}}</span>
        <span style="display: block" ng-show="searchText.length > 0 && hasCreate">{{'do_you_want'|translate}} <b>"{{searchText}}"</b> {{'to_be_created'|translate}}</span>
        <span style="display: block" ng-show="searchText.length > 0 && hasCreate">
              <a class="not-found"><md-button type="md-raised md-button" ng-click="create(searchText)">{{'create'|translate}}</md-button></a>
        </span>
    </md-not-found>
</md-autocomplete>
<md-button tabindex="0"
           class="has-create md-icon-button"
           ng-if="!(searchText.length > 0) && hasCreate"
           aria-label="create Input"
           ng-click="create(searchText)"
           ds-tooltip="{{'New' | translate}}"><md-icon md-svg-src="md-add"></md-icon>
</md-button>

