<div layout="row" layout-align="start center" style="height: 45px" ds-disabled-content="ngDisabled">
    <span style="font-size: 12px">
        <md-tooltip md-direction="bottom">{{ 'total_rows'|translate }}</md-tooltip>
        {{total}}
    </span>


    <div flex></div>

    <div layout="row" layout-align="space-around center">
        <md-button class="md-icon-button m-l-lg" ng-click="change()">
            <md-tooltip md-direction="bottom">{{ 'refresh'|translate }}</md-tooltip>
            <md-icon md-svg-src="md-refresh" aria-label="refresh paging"></md-icon>
        </md-button>

        <span class="m-l-sm m-r-lg" style="font-size: 12px">{{'page_size'|translate}} : </span>
        <md-select ng-model="pageSize" required name="pageSize" class="m-l-lg">
            <md-option ng-repeat="ps in pageSizes"
                       ng-value="ps"
                       name="pageSize-item">
                {{ps}}
            </md-option>
        </md-select>

        <span class="mr30 ml30" style="font-size: 12px">
            {{currentPage}} {{'from'|translate}} {{totalPages}}
        </span>

        <md-button class="md-icon-button"
                   ng-disabled="currentPage === 1" ng-click="first()">
            <md-tooltip md-direction="bottom">{{ 'first'|translate }}</md-tooltip>
            <md-icon md-svg-src="md-last-page" aria-label="previous paging"></md-icon>
        </md-button>

        <md-button class="md-icon-button"
                   ng-disabled="currentPage === 1" ng-click="previous()">
            <md-tooltip md-direction="bottom">{{ 'previous'|translate }}</md-tooltip>
            <md-icon md-svg-src="md-right" aria-label="previous paging"></md-icon>
        </md-button>

        <md-button class="md-icon-button"
                   ng-disabled="currentPage === totalPages" ng-click="next()">
            <md-tooltip md-direction="bottom">{{ 'next'|translate }}</md-tooltip>
            <md-icon md-svg-src="md-left" aria-label="next paging"></md-icon>
        </md-button>

        <md-button class="md-icon-button"
                   ng-disabled="currentPage === totalPages" ng-click="last()">
            <md-tooltip md-direction="bottom">{{ 'last'|translate }}</md-tooltip>
            <md-icon md-svg-src="md-first-page" aria-label="last paging"></md-icon>
        </md-button>
    </div>
</div>

