$image-path: "";
$font-path: "";
$primary-color: #14b6ce;
$primary-select-color: #14b6ce;
$dark-blue: #004790;
$danger-color: red;
$warning-color: #f8ac59;
$font-family: "IRANSans";
$header-profile: "";
$fa-font-path: $font-path;
$icon-font-path: "#{$font-path}/";

$primary-color: #14b6ce;
$primary-select-color: #14b6ce;
$dark-blue: #004790;
$danger-color: red;
$warning-color: #f8ac59;

$bootstrap-sass-asset-helper: false;
$dir: rtl;

$left: right;
$right: left;
