// @import "compass/css3";

$blue-gray: transparent;
$blue-gray-darken: #2c3e50;
$blue: #edf2f3;
$blue-darken: #edf2f3;
$green: #14b6ce;
$green-darken: #1d979d;

#breadcrumb {
  background: $green;
  list-style: none;
  display: inline-block;
  direction: rtl;
  .icon {
    font-size: 14px;
  }

  > li {
    color: $green;

    float: right;
    display: flex;
    align-items: center;
    background: $blue;
    text-decoration: none;
    position: relative;
    height: 60px;
    line-height: 60px;
    padding: 0;
    text-align: center;
    margin-left: 21px;
    > * {
      color: $green;
    }
    &:nth-child(even) {
      background-color: $blue-darken;

      &:after {
        border-color: $blue-darken;
        border-right-color: transparent;
      }
      &:before {
        border-right-color: $blue-darken;
      }
    }
    &:last-child {
      padding-left: 10px;
      margin-left: 0;
      &:before {
        border: none;
      }
    }
    &:first-child {
      padding-right: 10px;
      &:after {
        border: none;
      }
    }

    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 0;
      border: 0 solid $blue;
      border-width: 30px 10px;
      width: 0;
      height: 0;
    }
    &:after {
      left: 100%;
      border-right-color: transparent;
    }
    &:before {
      right: 100%;
      border-color: transparent;
      border-right-color: $blue;
    }
    &:hover {
      background-color: $green;
      color: #fff;
      > * {
        color: #fff;
      }
      &:after {
        border-color: $green;
        border-right-color: transparent;
      }
      &:before {
        border-right-color: $green;
      }
    }
  }
}