ds-datatable {
  overflow-x: auto;
  min-height: 0.01%;

  .table {
    background: #fff;
    border: 1px solid #ddd;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    thead {
      tr {
        min-height: 40px;
        height: 40px;
        th {
          font-weight: 400;
          height: 45px;
          vertical-align: middle;
        }
      }
    }
    tbody {
      tr {
        min-height: 40px;
        height: 40px;
        td {
          height: 45px;
          padding: 0;
          vertical-align: middle;
        }
      }
    }
    tfoot {
      tr {
        min-height: 40px;
        height: 40px;
      }
    }
  }

  .form-control {
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 1px;
    color: inherit;
    display: block;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    font-size: 14px;
  }

  .has-border-on-focus {
    border: 1px solid transparent;
    height: 45px;
    margin: 0;
    border-radius: 0;
  }

  .has-border-on-focus.ds-combo-input {
    height: 40px !important;
  }

  .has-border-on-focus:focus {
    border: 1px solid transparent;
    border-bottom: 2px solid $primary-color;
  }

  .has-border-on-focus.ng-invalid.ng-dirty {
    border: 1px solid transparent;
    border-bottom: 1px dotted $danger-color;
    background: #fbdede;
  }

  .has-border-on-focus.ng-invalid- *.ng-dirty {
    border: 1px solid transparent;
    border-bottom: 1px dotted $danger-color;
    background: #fbdede;
  }

  .has-border-on-focus.ng-invalid.ng-dirty:focus {
    border: 1px solid transparent;
    border-bottom: 2px solid $danger-color;
  }
}
