.ibox-content {
  background-color: transparent;
}
.form-control, .single-line {
  background-color:transparent;
}
#page-wrapper{
  min-height: calc( 100vh - 63px );
  @media (max-width: 960px){
    height: 100vh ;
  }}

.img-circle {

  background: #fff;
}
.navbar-fixed-top, .navbar-static-top ,body .navbar-header{
  @media(max-width: 959px) and (min-width: 0) and (orientation: portrait){
    height: 56px;
  }
}
.nav>li.active>a {
  color: #2a2a2b;
}